input_files/Turtle_ASCII_Gems_at_IFP_NovtoJan2019/Fieldmap/ASM1.g4blmap

input_files/Turtle_ASCII_Gems_at_IFP_NovtoJan2019/Fieldmap/ASM2.g4blmap

input_files/Turtle_ASCII_Gems_at_IFP_NovtoJan2019/Fieldmap/*.root

input_files/Turtle_ASCII_Gems_at_IFP_NovtoJan2019/Fieldmap/*.DAT

/input_files/Jan2019_muon_source_input/*.dat

/input_files/Jan2019_muon_source_input/*.root

/input_files/Jan2019_pion_source_input/*.dat

/input_files/Jan2019_pion_source_input/*.root


